certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
idna==2.7
kiwisolver==1.0.1
matplotlib==3.0.0
numpy==1.15.3
pyparsing==2.2.2
python-dateutil==2.7.3
requests==2.20.0
six==1.11.0
urllib3==1.24
virtualenv==16.0.0
